In [8]:
import pandas as pd

In [22]:
dataset=pd.read_csv("owid-covid-data.csv")

In [26]:
dataset.columns

Index(['iso_code', 'location', 'date', 'total_cases', 'new_cases',
       'total_deaths', 'new_deaths', 'total_cases_per_million',
       'new_cases_per_million', 'total_deaths_per_million',
       'new_deaths_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand', 'tests_units'],
      dtype='object')

In [28]:
dataset.head()

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
0,ABW,Aruba,2020-03-13,2,2,0,0,18.733,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,ABW,Aruba,2020-03-20,4,2,0,0,37.465,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN
2,ABW,Aruba,2020-03-24,12,8,0,0,112.395,74.930,0.0,0.0,NaN,NaN,NaN,NaN,NaN
3,ABW,Aruba,2020-03-25,17,5,0,0,159.227,46.831,0.0,0.0,NaN,NaN,NaN,NaN,NaN
4,ABW,Aruba,2020-03-26,19,2,0,0,177.959,18.733,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [47]:
mask=(dataset['date'] == '2020-03-18') 
country_one = dataset.loc[mask]
country_one.head(30)

,iso_code,location,date,total_cases,new_cases,total_deaths,new_deaths,total_cases_per_million,new_cases_per_million,total_deaths_per_million,new_deaths_per_million,total_tests,new_tests,total_tests_per_thousand,new_tests_per_thousand,tests_units
111,AFG,Afghanistan,2020-03-18,22,1,0,0,0.565,0.026,0.000,0.000,NaN,NaN,NaN,NaN,NaN
251,ALB,Albania,2020-03-18,55,4,1,0,19.112,1.390,0.347,0.000,NaN,NaN,NaN,NaN,NaN
303,AND,Andorra,2020-03-18,14,0,0,0,181.195,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
423,ARE,United Arab Emirates,2020-03-18,113,15,0,0,11.425,1.517,0.000,0.000,NaN,NaN,NaN,NaN,NaN
482,ARG,Argentina,2020-03-18,79,14,2,0,1.748,0.310,0.044,0.000,NaN,NaN,NaN,NaN,NaN
599,ARM,Armenia,2020-03-18,78,26,0,0,26.323,8.774,0.000,0.000,NaN,NaN,NaN,NaN,NaN
771,AUS,Australia,2020-03-18,454,79,5,0,17.804,3.098,0.196,0.000,NaN,NaN,NaN,NaN,NaN
897,AUT,Austria,2020-03-18,1332,316,3,0,147.895,35.086,0.333,0.000,11977.0,1699.0,1.330,0.189,tests performed
1016,AZE,Azerbaijan,2020-03-18,28,9,0,0,2.762,0.888,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1176,BEL,Belgium,2020-03-18,1243,158,5,0,107.251,13.633,0.431,0.000,18384.0,2224.0,1.586,0.192,units unclear
1225,BEN,Benin,2020-03-18,1,0,0,0,0.082,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1311,BFA,Burkina Faso,2020-03-18,20,0,0,0,0.957,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1372,BGD,Bangladesh,2020-03-18,8,3,0,0,0.049,0.018,0.000,0.000,381.0,39.0,0.002,0.000,samples tested
1428,BGR,Bulgaria,2020-03-18,81,19,2,0,11.657,2.734,0.288,0.000,NaN,NaN,NaN,NaN,NaN
1553,BHR,Bahrain,2020-03-18,237,16,1,0,139.282,9.403,0.588,0.000,NaN,NaN,NaN,NaN,NaN
1654,BIH,Bosnia and Herzegovina,2020-03-18,21,0,0,0,6.401,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1773,BLR,Belarus,2020-03-18,36,0,0,0,3.810,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
1914,BOL,Bolivia,2020-03-18,12,1,0,0,1.028,0.086,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2040,BRA,Brazil,2020-03-18,291,57,1,1,1.369,0.268,0.005,0.005,NaN,NaN,NaN,NaN,NaN
2088,BRB,Barbados,2020-03-18,1,1,0,0,3.480,3.480,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2143,BRN,Brunei,2020-03-18,56,2,0,0,128.005,4.572,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2195,BTN,Bhutan,2020-03-18,1,0,0,0,1.296,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2279,CAF,Central African Republic,2020-03-18,1,0,0,0,0.207,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2405,CAN,Canada,2020-03-18,569,145,8,4,15.076,3.842,0.212,0.106,53975.0,NaN,1.430,NaN,people tested
2531,CHE,Switzerland,2020-03-18,2650,450,19,5,306.195,51.995,2.195,0.578,54605.0,10223.0,6.309,1.181,tests performed
2592,CHL,Chile,2020-03-18,201,45,0,0,10.515,2.354,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2718,CHN,China,2020-03-18,81086,23,3241,16,56.336,0.016,2.252,0.011,NaN,NaN,NaN,NaN,NaN
2770,CIV,Cote d'Ivoire,2020-03-18,5,0,0,0,0.190,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2823,CMR,Cameroon,2020-03-18,10,6,0,0,0.377,0.226,0.000,0.000,NaN,NaN,NaN,NaN,NaN
2876,COD,Democratic Republic of Congo,2020-03-18,3,0,0,0,0.033,0.000,0.000,0.000,NaN,NaN,NaN,NaN,NaN

In [46]:
mask=(dataset['Type']=='Full')  
country_one = dataset.loc[mask]

KeyError: 'Type'

In [33]:
dd=country_one.groupby('Country/Region')

In [36]:
dd['Country/Region'].unique()

Country/Region
Afghanistan                  [Afghanistan]
Albania                          [Albania]
Algeria                          [Algeria]
Andorra                          [Andorra]
Angola                            [Angola]
                              ...
Vatican City                [Vatican City]
Venezuela                      [Venezuela]
Vietnam                          [Vietnam]
West Bank and Gaza    [West Bank and Gaza]
Zimbabwe                        [Zimbabwe]
Name: Country/Region, Length: 118, dtype: object